

        <div class="js-pagetop ft-pagetop"><a class="ft-pagetop_link u-alpha" href="#top"></a></div>
        <footer class="js-footer l-footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    
            <div class="ft-content">
                <div class="ft-content__inner">
                    <div class="ft-content__logo">
                        <a href="/" class="ft-content__logo-link u-alpha">
                            <picture>
                                <source srcset="<%- footer.imgSrc %>/common/img_logo02.webp" type="image/webp">
                                <img src="<%- footer.imgSrc %>/common/img_logo02.png" alt="<%- footer.title %>">
                            </picture>
                        </a>
                    </div>
                    <ul class="ft-content__sns-list">
                        <li class="ft-content__sns-list__item">	
                            <a href="#" class="ft-content__sns-list__item-link u-alpha">
                                <picture>
                                    <source srcset="<%- footer.imgSrc %>/common/ico_sns01.webp" type="image/webp">
                                    <img src="<%- footer.imgSrc %>/common/ico_sns01.png" alt="facebook">
                                </picture>
                            </a>	
                        </li>
                        <li class="ft-content__sns-list__item">	
                            <a href="#" class="ft-content__sns-list__item-link u-alpha">
                                <picture>
                                    <source srcset="<%- footer.imgSrc %>/common/ico_sns02.webp" type="image/webp">
                                    <img src="<%- footer.imgSrc %>/common/ico_sns02.png" alt="Twitter">
                                </picture>
                            </a>	
                        </li>
                        <li class="ft-content__sns-list__item">	
                            <a href="#" class="ft-content__sns-list__item-link u-alpha">
                                <picture>
                                    <source srcset="<%- footer.imgSrc %>/common/ico_sns03.webp" type="image/webp">
                                    <img src="<%- footer.imgSrc %>/common/ico_sns03.png" alt="LINE">
                                </picture>
                            </a>	
                        </li>
                    </ul>
                </div>
            </div>
	        <p class="ft-cr"><a href="/" class="ft-cr__link master-sans"><small class="ft-cr__txt">&copy; </small>2022 Riot Games, Inc All Rights Reserved.</a></p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="<%- footer.jsSrc %>/animation.js"></script>
    <script src="<%- footer.jsSrc %>/common.min.js"></script>
    <script src="<%- footer.jsSrc %>/slick.min.js"></script>
    <script src="<%- footer.jsSrc %>/videoLightning.min.js"></script>
    <script>
        $(function() {
            $(".js-video").jqueryVideoLightning({
                id: "83VWrmFNiMk",
                autoplay: true,
                bdColor: "#000",
            });
        });
    </script>

    <script type="text/javascript">
        $(".slide-items").slick({
            arrows: true,
            dots: false, 
            autoplay: true,
            speed: 1500,
            slidesToShow: 3,
        });
    </script>
</body>
</html>